.welcome{
    
    text-align:center;
    font-size: 30px;
    font:bold;
}

.column-big {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: wheat;
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 20px 20px 20px 20px
}
.title{
    font-size: 20px; 
    font:bold;
}

.Pagetitle{
  font-size: 50px; 
  text-align: center;
  font:bold;
}

.buttonfamily{
  background-color: chocolate; 
border: none;
color: white;
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
}

.navbar {
    overflow: hidden;
    background-color: wheat;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  .navbar-start{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar-item :hover {
    background: #ddd;
    color: black;
  }
  .navbar-end{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .gallery {
    float: left;
    display: block;
    padding: 10px;
}
.imgcolumn{
    width: 30%;
    height: 30%;
    padding: 20px 20px;
   
}

.allcontent{

  padding: 20px 20px;
}
  