.welcome {

  text-align: center;
  font-size: 30px;
  font: bold;
}

.requestform{
font-size: 20px;
}
.template{
  width :100%;
  padding:20px 20px 10px 20px;
  margin: 30px 20px 0px 0px;
  
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}

.scheduledesignchecking{
 width :100%;
  padding:20px 20px 10px 20px;
  margin: 30px 20px 0px 0px;
  
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}


.updateclassroomtemplate{
  width:80%;
  padding:20px 20px 20px 20px;
  margin: 30px 10px 10px 10px;
  
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}

.column-big {
  text-align: center;
 
  width : 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}

.title {
  font-size: 20px;
  font: bold;
}

.Pagetitle {
  font-size: 40px;
  text-align: center;
  font: bold;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
.button-64 {
  align-items: center;
  width: 40px;
 
  background-image: linear-gradient(144deg,#b08e6b, #e8c39e 70%,#f5e1ce);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.buttonlogout {
  align-items: center;
  background-color: #f7f2d7;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonlogout:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.buttonlogout:hover:after {
  transform: translate(0, 0);
}

.buttonlogout:active {
  background-color: #ffdeda;
  outline: 0;
}

.buttonlogout:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .buttonlogout {
    padding: 0 40px;
  }
}

.navbar {
  overflow: hidden;
  background-color: wheat;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.navbar-start {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-item :hover {
  background: #ddd;
  color: black;
}

.navbar-end {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gallery {
  float: left;
  display: block;
  padding: 10px;
}

.imgcolumn {
  width: 25%;
  height: 25%;
  padding: 20px 20px;

}

.allcontent {

  padding: 20px 20px;
}

.pagecontent {
  font-size: 20px;
  font: bold
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.custom-select {
  min-width: 350px;
  position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.5rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
  
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  text-align: center;
  vertical-align: middle;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
  text-align: center;
  vertical-align: middle;
}


.singleclassinfo {
  text-align: left;
  padding: 50px ;
  margin-top: 30px;

  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
 overflow: visible
}

.singleclassinfocontent {
  margin: 10px 10px 20px 10px;
}

.td {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.th {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.createnewstudent {
  padding: 30px;
  margin: 50px 50px 50px 50px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #E8DED1 0%, #E8DED1 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #E8DED1 0%, #E8DED1 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #E8DED1 0%, #E8DED1 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}

.setttbdeadline {
  width:100%;
  padding:20px 10px 10px 20px;
  margin: 0;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #E8DED1 0%, #E8DED1 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #E8DED1 0%, #E8DED1 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #E8DED1 0%, #E8DED1 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}



.settingbox {
  width:100%;
  padding:20px 10px 10px 20px;
  margin: 0;
  
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f4ede4 0%, #f4ede4 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f4ede4 0%, #f4ede4 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f4ede4 0%, #f4ede4 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow:visible
}

.setschedulerelease {
  width:100%;
  padding:20px 10px 10px 20px;
  margin: 0;
  
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: rgb(155, 198, 53);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #efe5d9 0%, #efe5d9 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: inline-block;
  overflow: auto
}

input {
  margin-left: auto;
  margin-right: auto
}
.content{
  vertical-align: middle;
}

img{
  width : 100%;
  height :100%;
 
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: rgb(230, 208, 182);
}

.tablenothover tbody tr:hover td, .tablenothover tbody tr:hover th {
  background-color: transparent;
}

.selectobs {
  width: 80px;
}