<div class="Pagetitle">Classroom Management</div>
<div class="buttons">
    <div class="button buttonlogout is-left" onclick="backback()">
        Back
    </div>

</div>
<div class="rows is-mobile">
    <div class="row">
        <div class="columns is-multiline is-mobile is-centered">
           <!-----upload class info-->
           <div class="imgcolumn">
            <a href="/uploadlesson">
                <img src="..\images\home\admin\classinfo.jpg" class="gallery_img">
            </a>
        </div>
        <!-----check class info-->
        <div class="imgcolumn">
            <a href="/lessonlist">
                <img src="..\images\home\admin\lesson.jpg" class="gallery_img">
            </a>
        </div>
        </div>
    </div>
</div>

<script>
    function backback(){
        location.assign("home");
    }
</script>