<div class="Pagetitle">Manual Handle Case</div>
<div class="rows">
    <div class="row">
        <div class="columns">
            <div class="column">
                <div class="buttons is-left">
                    <div class="button buttonlogout " onclick="back()">
                        Back
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<%var combinationset= new Array()%>
<%for (var a = 0 ;a < availableCombination.length;a++){
    var combination = JSON.parse(JSON.stringify({"date":"","starttime":"","endtime":""}))
    combination.date = new Date(availableCombination[a].availabledate);
    combination.starttime = new Date(availableCombination[a].availablestartTime)
    combination.endtime = new Date(availableCombination[a].availableendTime)
    combinationset.push(combination);
}%>

<%var unqiuedateset=new Array()%>
<%var b =0;%>
<%for(var a = 0 ;a < combinationset.length;a++){
    if(a==0){
        unqiuedateset.push(combinationset[a])
    }
        if(combinationset[a].date.toLocaleDateString("en-GB") != unqiuedateset[b].date.toLocaleDateString("en-GB")){
            unqiuedateset.push(combinationset[a]);
            b++;
        }
    
}%>


<div class="columns is-mobile is-centered">
    <div class="column column-big is-half">
        <div style="font-size : 25px;padding-top: 10px;" class="title">Handle Case <%=req.query.sid%>
        </div>
            <%if(availableCombination.length >0){%>
            <div class="custom-select" style="text-align: center;vertical-align: middle;" > 
               
                    <label for="UpdateDate">Update Date:</label>
                        <select name="date" id="UpdateDate">
                            <%for(var a =0 ;a < unqiuedateset.length;a++){%>
                                <option value="<%=combinationset[a].date%>"><%=(unqiuedateset[a].date).toLocaleDateString("en-GB")%></option>
                                <%}%>
                        
                        </select>
               
                
              </div> 
              <div>
                  <label for="UpdateTime">Update to this time range</label>
                  <input id="UpdateTime" type="date">
                </div>
              <%}else{%>
                <div> This student have no availableCombination</div>
                <%}%>
            <br>  
            
    </div>
</div>

<script>
    function back() {
        history.back();
    }

    async function submitform(command, startdatestr, enddatestr, maxstdnum) {


    }
</script>