<div class="Pagetitle">Upload Class</div>

<div class="row">
    <div class="buttons">
        <div class="button buttonlogout" onclick="backback()">Back</div>
    </div>
</div>
<div class="row">
    <div class="columns is-centered">
        <div class="column template is-half">

            <form enctype="multipart/form-data" style="padding-left:30px">
                <div class="row" style="text-align: center; font-size: 25px; font-weight: bold;">
                    Upload Class Lesson info
                </div>
                <br>
                <div style="font-size: 15px;color: grey; padding-left:30px">Sample file: <a
                        href="images\Samplefile\ClassinfoSample.xlsx" download><u>Class Info Samplefile</u></a></div>
                <br>
                <input id="lessonupload" type=file name="files[]">
            </form>
            <br>
            <div id="getlessondata" style="font-size: 20px;"></div>
            <br>
            <div class="control">
                <textarea class="textarea form-control" id="lessonxlx_json"
                    style="width:100% ;height:50% ; overflow: scroll;" readonly></textarea>
            </div>
        </div>

    </div>
</div>
</div>
<script>
    function backback() {
        location.assign("/home");
    }

    document.getElementById('lessonupload').addEventListener('change', handlelesson, false);
    var alllessonarray = new Array(0);
    var lessonjsonobj;

    var ExcelToJSON = function () {

        this.parseExcel = function (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                workbook.SheetNames.forEach(function (sheetName) {
                    // Here is your object
                    var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    var json_object = JSON.stringify(XL_row_object);

                    //jsonobj = json_object
                    //  console.log("check jsonobj      " + jsonobj);



                    console.log("check json_object      " + json_object);
                    lessonjsonobj = json_object;
                    console.log("check jsonobj      " + lessonjsonobj);
                    alllessonarray = JSON.parse(json_object);
                    document.getElementById("getlessondata").innerHTML = "Total " + alllessonarray.length + " lessons will be created,\<br\> Click confirm to create."
                        + "\<br\>"
                        + " \<form  action\=\"\/uploadlesson\" method\=\"post\" onsubmit\=\"submitform(this)\;return false\;\"\>"
                        + "\<button class=\"buttonlogout\" id\=\"confirm is\-success\"\>Confirm\<\/button\><br>"
                        + "\<\/form>";
                    jQuery('#lessonxlx_json').val(json_object);


                })
            };

            reader.onerror = function (ex) {
                console.log(ex);
            };

            reader.readAsBinaryString(file);
        };
    };
    function handlelesson(evt) {

        var files = evt.target.files; // FileList object
        console.log(files[0].name);
        var namestring = (files[0].name).split("\.");
        if (namestring[1] != "xlsx") {
            alert("This is not a .xlsx file, please upload a correct format file");
            return;
        }
        var xl2json = new ExcelToJSON();
        xl2json.parseExcel(files[0]);
    }

    async function submitform(formElem) {

        var response = await fetch(formElem.action, {
            method: formElem.method,
            body: lessonjsonobj
        });
        if (response.ok) {
            alert("ok")
        } else {
            alert("strange things happened")
        }
    }
</script>