<div class="buttons">
    <div class="button buttonlogout is-left" onclick="backback()">
        Back
    </div>

</div>

<div>
    <div class="rows is-mobile">
        <div class="row">
            <div class="columns  is-multiline is-mobile">
                <div class="imgcolumn">
                    <a href="/uploadstudentlist">
                        <img src="images\home\list.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a href="/listuser">
                        <img src="images\home\liststudent.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a href="/readsupervisorrequestlist">
                        <img src="images\home\approve.jpg" class="gallery_img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function backback() {
        location.assign("home")
    }
</script>