<div class="buttons">
    <div class="button buttonlogout is-left" onclick="backback()">
        Back
    </div>

</div>

<div>
    <div class="rows is-mobile">
        <div class="row">
            <div class="columns  is-multiline is-mobile is-centered">
                <div class="imgcolumn">
                    <a href="/uploadsupervisorlist">
                        <img src="..\images\home\admin\uploadsupervisorlist.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a href="/listuser">
                        <img src="..\images\home\admin\listallsupervisor.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a href="/readsupervisorrequestlist">
                        <img src="..\images\home\admin\allreqfromsup.jpg" class="gallery_img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function backback() {
        location.assign("home")
    }
</script>