<div class="Pagetitle"> Create new Classroom</div>
<br><br>
<div class="columns is-centered is-onethird">
  <div class="column"></div>
  <div class="column column-big">
    <form action="/createnewclassroom" method="post" onsubmit="createnewclassroom(this);return false;">
<br><br>
      <label for="Campus" style="font-size: 20px;">Campus&emsp;:&emsp;&nbsp;</label>

      <select name="Campus" id="Campus" style=" font-size: 20px; width : 232px;">
        <% allCampuslist.forEach( function(campus) { %>
          <option value="<%= campus.campus %>" style="font-size: 20px;">
            <%= campus.campus %>
          </option>
          <% }); %>
      </select>
      <br><br>
      <label for="RID" style="font-size: 20px; ">Room ID&emsp;:&emsp;&emsp;</label>
      <input type="text" placeholder="Enter RID" id="RID" name="RID" value="" style="font-size: 20px;">
      <br><br><br>
      <div class="buttons is-right">
        <button type="submit is-success" class="buttonlogout">Submit</button>
      </div>
<br>
    </form>

  </div>
  <div class="column"></div>
</div>

<script>

  async function createnewclassroom(formElem) {
    try {

      var response = await fetch(formElem.action, {
        method: formElem.method,
        body: new FormData(formElem),
      });
      if (response.ok) {
        alert("Room created");
        location.assign("/classroomlist");

      } else if (response.status == 401) {
        var msg = await response.json();
        alert(msg);
      } else {
        alert(response.statusTest);
      }

    } catch (error) {
      console.log(error);
    }
  }


</script>