<div class="Pagetitle">Create New Supervisor</div>
<div class="buttons">
    <div class="button buttonlogout is-responsive is-left" onclick="history.back()">
        Back
    </div>

</div>
<br>
<div class="columns is-centered template" style="align-items: center;">
    <form action="/createnewsup" method="post" onsubmit="createnewsup(this);return false;">
        <table>
            <tr>
                <td><label>Supervisor name:&emsp;&emsp;</label></td>
                <td><input type="text" placeholder="Enter Supervisor name" id="supervisorname" name="supervisorname"
                        value="" style="width:calc(200px + 0.390625vw)" required></td>
            </tr>
            <tr>
                <td><label>tid:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</label></td>
                <td><input type="text" placeholder="Enter tid" id="tid" name="tid" value=""
                        style="width:calc(200px + 0.390625vw)" required><br><br>
                </td>
            </tr>
            <tr>
                <td><label>Priority:<br>(Highest = 1, Lowest =
                        3)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</label></td>
                <td style="vertical-align: middle;"><input type="number" placeholder="Enter Priority" id="tid" name="priority" value=""
                        style="width:calc(200px + 0.390625vw)" min="1" max="3" required><br><br>
                </td>
            </tr>
        </table>
        <!-- <label>Supervisor name:&emsp;&emsp;</label>
        <input type="text" placeholder="Enter Supervisor name" id="supervisorname" name="supervisorname" value=""
            style="width:calc(300px + 0.390625vw)" required>
        <br>
        <label>tid:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</label>
        <input type="text" placeholder="Enter tid" id="tid" name="tid" value="" style="width:calc(300px + 0.390625vw)" required><br><br>
        <label>Priority:<br>(Highest = 1, Lowest = 3)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</label>
        <input type="" placeholder="Enter Priority" id="tid" name="Priority" value="" style="width:calc(300px + 0.390625vw)" min = "1" max = "3"required><br><br> -->
<br>
        <div class="buttons is-right">
            <button type="submit is-success" class="button buttonlogout is-responsive">Submit</button>
        </div>
        <br>
    </form>

</div>

<script>



    async function createnewsup(formElem) {

        try {
            console.log(formElem)

            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });
            if (response.ok) {
                alert("Supervisor created");
                location.assign("/listuser");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
                location.reload();
            } else {
                alert(response.statusTest);
            }

        } catch (error) {
            console.log(error);
        }
    }


</script>