<div class="Pagetitle">Create New Student</div>
<div class="buttons">
  <div class="button buttonlogout is-responsive is-left" onclick="history.back()">
    Back
  </div>

</div>
<br>
<div class="columns is-centered  is-mobile is-multiline  ">
  <div class="column template is-fullwidth-mobile is-half-desktop">
    <form action="/createnewstudent" method="post" onsubmit="createnewstudent(this);return false;">
      <table class="table is-fullwidth is-hoverable" style ="background-color:  transparent;">
        <tr>
          <th>
            Student name:
          </th>
          <td>
            <input type="text" placeholder="Enter Student name" id="studentname" name="studentname" value=""
              style="width:100%" required>
          </td>
        </tr>
        <tr>
          <th>
            SID:
          </th>
          <td>
            <input type="text" placeholder="Enter SID" id="sid" name="sid" value="" style="width:100%" required>
          </td>
        </tr>
        <tr>
          <th>Topic:</th>
          <td>
            <% alltopiclist.forEach((topic)=>{%>

              <%if(topic.topicname!=""){%>

                <input type="radio" id="topic" name="topic" value="<%=topic.topicname%>">
                <label for="<%=topic.topicname%>">
                  <%=topic.topicname%>
                </label><br>
                <%}%>
                  <%});%>
                    <input type="radio" name="topic" value="" id="Other"> Other
                    <input type="text" name="othertext" id="inputtext">
          </td>
        </tr>

      </table>
      <div class="buttons is-right">
        <button type="submit is-success" class="button buttonlogout is-responsive">Submit</button>
      </div>

    </form>
  </div>
</div>

<script>

  function changeradioother() {

    if (document.getElementById("Other").checked) {

      if (document.getElementById("inputtext").value == '') {
        alert('input required');
        return false
      } else {
        document.getElementById("Other").value = document.getElementById("inputtext").value
        return true;
      }
    } else {
      document.getElementById("Other").value = "";
      return true;
    }

  }



  async function createnewstudent(formElem) {
    try {
      console.log(document.getElementById("inputtext").value + "   " + document.getElementById("Other").checked)
      if (!changeradioother()) { return alert("Please input the topic for the student"); }

      var response = await fetch(formElem.action, {
        method: formElem.method,
        body: new FormData(formElem),
      });
      if (response.ok) {
        alert("student created");
        location.assign("/listuser");

      } else if (response.status == 401) {
        var msg = await response.json();
        alert(msg);
      } else {
        alert(response.statusTest);
      }

    } catch (error) {
      console.log(error);
    }
  }


</script>