<div class="Pagetitle">Create New Student</div>
<br><br>
<div class="createnewstudent " >
  <form action="/user/createnewstudent" method="post" onsubmit="createnewstudent(this);return false;">
    <label>Student name:&emsp;&emsp;</label>
    <input type="text" placeholder="Enter Student name" id="studentname" name="studentname" value="" style="width:300px"><br>
    <br>
    <label>SID:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</label>
    <input type="text" placeholder="Enter SID" id="sid" name="sid" value="" style="width:300px"><br><br>
    <label for="topics">Topic:&emsp;&emsp;&emsp;&emsp;&emsp;</label>

    <select name="topics" id="topics" style="width:300px">
      <% alltopiclist.forEach( function(topic) { %>
        <option value="<%= topic.topic %>">
          <%= topic.topic%>
        </option>
        <% }); %>
    </select>
    <br><br>
    <div class="buttons is-right">
      <button type="submit is-success" class="buttonlogout">Submit</button>
    </div>
    <br>

  </form>

</div>

<script>

  async function createnewstudent(formElem) {
    try {


      var response = await fetch(formElem.action, {
        method: formElem.method,
        body: new FormData(formElem),
      });
      if (response.ok) {
        alert("student created");
        location.assign("/user/liststudent");

      } else if (response.status == 401) {
        var msg = await response.json();
        alert(msg);
      } else {
        alert(response.statusTest);
      }

    } catch (error) {
      console.log(error);
    }
  }


</script>