<div class="Pagetitle">Create New Supervisor</div>
<br>
<div class="columns is-centered createnewstudent ">
    <form action="/createnewsup" method="post" onsubmit="createnewsup(this);return false;">
        <label>Supervisor name:&emsp;&emsp;</label>
        <input type="text" placeholder="Enter Supervisor name" id="supervisorname" name="supervisorname" value=""
            style="width:300px" required><br>
        <br>
        <label>tid:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</label>
        <input type="text" placeholder="Enter tid" id="tid" name="tid" value="" style="width:300px" required><br><br>

        <div class="buttons is-right">
            <button type="submit is-success" class="buttonlogout">Submit</button>
        </div>

    </form>

</div>

<script>

    

    async function createnewsup(formElem) {
        try {
           console.log(formElem)

            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });
            if (response.ok) {
                alert("Supervisor created");
                location.assign("/liststudent");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusTest);
            }

        } catch (error) {
            console.log(error);
        }
    }


</script>