<div class="Pagetitle"> Create new Classroom Unavailble timeslot</div>
<br>
<form action="/user/addtimeslot/<%=roominfo.Campus%>/<%=roominfo.RID%>" method="post"
    onsubmit="createnewclassroomtimeslot(this);return false;">
    <p></p>
    <div id="roominfo" class="pagecontent">
        Createing Unavailable timeslot for <%=roominfo.RID%> in <%=roominfo.Campus%>
    </div>
    <label for="Unavailabletype">Please choose a type</label>
    <select name="Unavailabletype" id="Unavailabletype" onchange="showcontent(value)">
        <option value="">-----Please Choose-----</option>
        <option value="timeslot">Timeslot in a day</option>
        <option value="wholeday">Whole Day</option>
        <option value="dayrange">Day Range</option>

    </select>
    <p></p>
    <div id="showthedayrange"></div>
    <p></p>
    <div id="showtheday"></div>
    <p></p>
    <div id="showthetime"></div>
    <br>
    <input type="text" id="remarks" name="remarks" style="width: 500px; height: 200px;">
    <br>
    <button class="button" type="submit is-success">Submit</button>
</form>



<script>

    function showcontent(value) {
        document.getElementById("showthedayrange").innerHTML = "";
        document.getElementById("showthetime").innerHTML = "";
        document.getElementById("showtheday").innerHTML = "";
        if (value == "timeslot") {
            showday();
            showtime();
        } else if (value == "wholeday") {
            showday();
        } else if (value == "dayrange") {
            showdayrange();
            showtime();

        } else {
            document.getElementById("showthedayrange").innerHTML = "";
            document.getElementById("showthetime").innerHTML = "";
            document.getElementById("showtheday").innerHTML = "";
        }
        console.log(value);

    }

    function showdayrange() {
        document.getElementById("showthedayrange").innerHTML = "<label for=\"notokstartday\">Unavailable Start Date:&nbsp;&nbsp;</label\>"
            + "<input type=\"date\" id=\"notokstartday\" name=\"notokstartday\"required\>"
            + "<p\></p\>"
            + "<label for=\"notokendday\">Unavailable End Date:&nbsp;&nbsp;</label\>"
            + "<input type=\"date\" id=\"notokendday\" name=\"notokendday\"required\>"
            ;

    }

    function showday() {
        document.getElementById("showtheday").innerHTML = "<label for=\"notokstartday\">Unavailable Date:&nbsp;&nbsp;</label\>"
            + "<input type=\"date\" id=\"notokstartday\" name=\"notokstartday\"required\>";
    }

    function showtime() {
        document.getElementById("showthetime").innerHTML = "<label for = \"starttime\"\>Start Time\:&nbsp;&nbsp;\</label\>"
            + " \<input type\=\"time\" id\=\"starttime\" name\=\"starttime\"\required>"
            + "<p\></p\>"
            + "<label for = \"endtime\"\>End Time\:&nbsp;&nbsp;&nbsp;\</label\>"
            + " \<input type\=\"time\" id\=\"endtime\" name\=\"endtime\"\required>";
    }

    async function createnewclassroomtimeslot(formElem) {
       
            if (document.getElementById("Unavailabletype").value == "dayrange") {
                var startstart = document.getElementById("notokstartday").value;
                var endend = document.getElementById("notokendday").value;

                if (endend <= startstart) {
                    alert("End Day cannot be earlier than Start Day \n" + "Please review your input");
                    return;
                }

            } else if (document.getElementById("Unavailabletype").value == "timeslot") {
                var startstart = document.getElementById("starttime").value;
                var endend = document.getElementById("endtime").value;

                if (endend <= startstart) {
                    alert("End time cannot be earlier than Start time \n" + "Please review your input");
                    return;
                }

            }

            try {
                var response = await fetch(formElem.action, {
                    method: formElem.method,
                    body: new FormData(formElem),
                });
                if (response.ok) {
                    alert("Submission success");
                    location.assign("/home");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }

    
</script>