This is createnewstudent
<br><br>
<form action="/user/createnewstudent" method="post" onsubmit="submitform(this);return false;">
    <label>Student name:&nbsp;&nbsp;</label>
    <input type="text" placeholder="Enter Student name" id="studentname" name="studentname" value=""><br>
    <br>
    <label>SID:&nbsp;&nbsp;&nbsp;</label>
    <input type="text" placeholder="Enter SID" id="sid" name="sid" value=""><br><br>
    <label for="topics">Topic:&nbsp;&nbsp;&nbsp;</label>
    
<select name="topics" id="topics">
    

    </select>
    <button type="submit is-success">Submit</button>
</form>
<script>


  window.onload = async function(){
         // Storing response
   const response = await fetch(gettopic);
  
  // Storing data in form of JSON
  var data = await response.json();
  console.log(data);
  }
</script>