<div class="Pagetitle">Create New Student</div>
<br>
<div class="columns is-centered createnewstudent ">
  <form action="/createnewstudent" method="post" onsubmit="createnewstudent(this);return false;">
    <label>Student name:&emsp;&emsp;</label>
    <input type="text" placeholder="Enter Student name" id="studentname" name="studentname" value=""
      style="width:300px" required><br>
    <br>
    <label>SID:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</label>
    <input type="text" placeholder="Enter SID" id="sid" name="sid" value="" style="width:300px" required><br><br>
    <label for="topics">Topic:</label>


 
      <% for(var i=1; i < alltopiclist.length;i++) {%>
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <%if(i>1) {%>
          &emsp;&emsp;&nbsp;&nbsp;
          <%}%>

            <%if(alltopiclist[i]!=""){%>

              <input type="radio" id="topic" name="topic" value="<%=alltopiclist[i]%>">
               <label for="<%=alltopiclist[i]%>">
                <%= alltopiclist[i]%>
              </label><br>
              <%}%>

                <% }; %>
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="topic" value="" id="Other">&nbsp;&nbsp;&nbsp;Other
                  <input type="text" name="othertext" id="inputtext" >
                  <br><br>
                  <div class="buttons is-right">
                    <button type="submit is-success" class="buttonlogout">Submit</button>
                  </div>
                 
  </form>

</div>

<script>

function changeradioother(){
 
 if(document.getElementById("Other").checked ) {
  
    if(document.getElementById("inputtext").value == ''){
        alert('input required'); 
        return false
    }else{
      document.getElementById("Other").value = document.getElementById("inputtext").value
      return true;
    }
 }else{
  document.getElementById("Other").value ="";
  return true;
 }
   
 }

  

  async function createnewstudent(formElem) {
    try {
console.log(document.getElementById("inputtext").value +"   "+document.getElementById("Other").checked)
if(!changeradioother()){return alert("Please input the topic for the student");}

      var response = await fetch(formElem.action, {
        method: formElem.method,
        body: new FormData(formElem),
      });
      if (response.ok) {
        alert("student created");
        location.assign("/listuser");

      } else if (response.status == 401) {
        var msg = await response.json();
        alert(msg);
      } else {
        alert(response.statusTest);
      }

    } catch (error) {
      console.log(error);
    }
  }


</script>