<% if (req.session.role=="stu" ){%>
    <p>this is a student</p>
    <div class="rows is-mobile">
        <div class="row">
            <div class="columns is-multiline is-mobile">
                <div class="imgcolumn">
                    <a href="/notice">
                        <img src="images\home\notice.jpg" class="gallery_img">
                    </a>
                </div>

                <div class="imgcolumn">
                    <a href="/timetable">
                        <img src="images\home\ttb.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a onclick="checkrequestdeadline('<%=req.session.role%>')">
                        <img src="images\home\question.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a href="/checkrequest">
                        <img src="images\home\reply.jpg" class="gallery_img">
                    </a>
                </div>
                <div class="imgcolumn">
                    <a href="#checkfypschdule">
                        <img src="images\home\canlendar.jpg" class="gallery_img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%}else if(req.session.role=="sup" ) {%>
        <p>this is a supervisor</p>
        <div class="rows is-mobile">
            <div class="row">
                <div class="columns  is-multiline is-mobile">
                    <div class="imgcolumn">
                        <a href="/notice">
                            <img src="images\home\notice.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/setting">
                            <img src="images\home\setting.png" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/uploadstudentlist">
                            <img src="images\home\list.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/liststudent">
                            <img src="images\home\liststudent.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/timetable">
                            <img src="images\home\ttb.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/submitrequest">
                            <img src="images\home\question.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/checkrequest">
                            <img src="images\home\reply.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/readstudentrequestlist">
                            <img src="images\home\approve.jpg" class="gallery_img">
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="#checkfypschdule">
                            <img src="images\home\canlendar.jpg" class="gallery_img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%}else if(req.session.role=="adm" ) {%>
            <p>this is a admin</p>
            <div class="rows is-mobile">
                <div class="row">
                    <div class="columns is-multiline is-mobile">
                        <div class="imgcolumn">
                            <a href="/notice">
                                <img src="images\home\notice.jpg" class="gallery_img">
                            </a>
                        </div>

                        <div class="imgcolumn">
                            <a href="/classroomlist">
                                <img src="images\home\classroomlist.jpg" class="gallery_img">
                            </a>
                        </div>

                        <!---Submit timeperiod user-->
                        <div class="imgcolumn">
                            <a href="/managetimeslot">
                                <img src="images\home\managetimeslot.jpg" class="gallery_img">
                            </a>
                        </div>

                        <!-----manage timeperiod open and close-->
                        <div class="imgcolumn">
                            <a href="/classroommanagement">
                                <img src="images\home\classroommanagement.jpg" class="gallery_img">
                            </a>
                        </div>
                        <!-----display classroom usage in ttb mode (with date/calendar view)-->
                        <div class="imgcolumn">
                            <a href="#checkfypschdule">
                                <img src="images\home\canlendar.jpg" class="gallery_img">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <%}%>

                <script>
                    async function checkrequestdeadline(rolerole) {

                        var response = await fetch("/home", {
                            method: "GET",
                        });

                        if (response.ok) {

                            location.assign("/submitrequest");
                        }

                    }
                    
                </script>