<div>
    <% if (req.session.role=="stu" ){%>
        <p>this is a student</p>
        <div class="rows is-mobile">
            <div class="row">
                <div class="columns is-multiline is-mobile">
                    <div class="imgcolumn">
                        <a href="/notice">
                            <img src="..\images\home\notice.jpg" >
                        </a>
                    </div>

                    <div class="imgcolumn">
                        <a href="/timetable">
                            <img src="..\images\home\ttb.jpg" >
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/submitrequest">
                            <img src="..\images\home\question.jpg" >
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a href="/checkrequest">
                            <img src="..\images\home\reply.jpg" >
                        </a>
                    </div>
                    <div class="imgcolumn">
                        <a onclick="checktimecome()">
                            <img src="..\images\home\canlendar.jpg" >
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%}else if(req.session.role=="sup" ) {%>
            <p>this is a supervisor</p>
            <div class="rows is-mobile">
                <div class="row">
                    <div class="columns is-multiline is-mobile">
                        <div class="imgcolumn">
                            <a href="/notice">
                                <img src="..\images\home\notice.jpg">
                            </a>
                        </div>
                        
                        <div class="imgcolumn">
                            <a href="/uploadstudentlist">
                                <img src="..\images\home\list.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a href="/listuser">
                                <img src="..\images\home\liststudent.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a href="/timetable">
                                <img src="..\images\home\ttb.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a href="/submitrequest">
                                <img src="..\images\home\question.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a href="/checkrequest">
                                <img src="..\images\home\reply.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a href="/readstudentrequestlist">
                                <img src="..\images\home\approve.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a href="/preference">
                                <img src="..\images\home\preference.jpg" >
                            </a>
                        </div>
                        <div class="imgcolumn">
                            <a onclick="checktimecome()">
                                <img src="..\images\home\canlendar.jpg" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
                <%}else if(req.session.role=="adm" ) {%>
                    <p>this is a admin</p>
                    <div class="rows is-mobile">
                        <div class="row">
                            <div class="columns is-multiline is-mobile">
                                <div class="imgcolumn">
                                    <a href="/notice">
                                        <img src="..\images\home\notice.jpg" >
                                    </a>
                                </div>
                                <div class="imgcolumn">
                                    <a href="/setting">
                                        <img src="..\images\home\admin\setting.png" >
                                    </a>
                                </div>
                                <div class="imgcolumn">
                                    <a href="/usermanagement">
                                        <img src="..\images\home\admin\Usericon.png" >
                                    </a>
                                </div>
                                <div class="imgcolumn">
                                    <a href="/Mainclassroommanagement">
                                        <img src="..\images\home\admin\Room.png" >
                                    </a>
                                </div>
                                <div class="imgcolumn">
                                    <a href="/classmanagement">
                                        <img src="..\images\home\admin\classmanagement.jpg" >
                                    </a>
                                </div>
                                                                
                                <div class="imgcolumn">
                                    <a onclick="checkhavedraft()">
                                        <img src="..\images\home\admin\CreateSchd.jpg" >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%}%>
</div>
<script>
   
   async function checkhavedraft() {
        var response = await fetch("/checkdraft", {
            method: "GET",
        });
        if (response.ok) {
            var msg = await response.json();
            console.log("here !!!!!!! "+msg)
            if (msg == "redirect") {
                console.log("redirect from home")
                location.assign("/supervisorschedulelist");
            } else {
                location.assign("/scheduledesign");
            }
        }else{
            alert("Please finish all setup before you enter to this page");
        }

    }

    async function checktimecome() {
        var response = await fetch("/viewFinalSchedule", {
            method: "GET",
        });
        if(response.ok){
            location.assign(response.url);
        }else{
            var msg = await response.json();
            alert(msg);
            location.reload()
        }
        
        
        
    }
    async function checkrequestdeadline(rolerole) {

        var response = await fetch("/home", {
            method: "GET",
        });

        if (response.ok) {

            location.assign(response.url);
        }else{
            var msg = await response.json();
            alert(msg);
            location.reload()
        }

    }

</script>