
<div class="Pagetitle">Student List</div>
<br>
<button class="button" id= "createnewstu" onclick="gotocreate()">Create a new Student</button>
<br><br>

<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th>SID</th>
    <th>Student Name</th>
    <th>Topic</th>
    
    
        <% allstdlist.forEach( function(allstdlist) { %>
    
            <tr>
                <td>
                    <%= allstdlist.sid %>
                </td>
    
    
                <td>
                    <a href="/user/read/<%= allstdlist.sid%>"><%= allstdlist.stdname %></a>
                </td>
                <td>
                    <%= allstdlist.Topic%>
                </td>
               
            </tr>
    
            <% }); %>
    
    </table>
    <script>
        function gotocreate(){
            location.assign("/user/createnewstudent");
        }
    </script>