<!---
    <div class="navbar" >
        <a class="navbar-Logo" href="/">
            <img src="\images\login\compbg.png" width=150 height =50>
        </a>
    </div>
    -->

    <div class="wrapper">
        <div class="container">
          <h1>Welcome to FYP Schdeuling System</h1>
        </div>
      </div>
    <br><br>
    <div class="buttons is-centered is-mobile">
        <button class="button button-64 is-responsive" id="autoinputsup" onclick="inputsup()">SUPER1</button>
        <button class="button button-64 is-responsive" id="autoinputsup" onclick="inputsup2()">SUPER2</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputstd()">Apple</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputstd2()">Cathy</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputstd3()">Emily</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputstd4()">Dorthy</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputsup3()">AAmantha</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputsup4()">BBanana</button>
        <button class="button button-64 is-responsive" id="autoinputstd" onclick="inputsup5()">CCatie</button>
        <button class="button button-64 is-responsive" id="autoinputadm" onclick="inputadm()">Admin</button>
    </div>
    <div class="columns is-centered">
        <div class="column is-half is-mobile">
            <div class="scheduledesignchecking">
                <div class="rows">
                    <div class="row">
                        <div class="title is-3">Login</div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <form action="/login" method="post" onsubmit="submitform(this);return false;">
                            <label for="username" class="subtitle is-4">Username</label>
                            <input type="text" class="input is-rounded is-half" placeholder="Enter Username (SID/TID)"
                                id="username" name="username" value=""><br>
                            <br>
                            <label for="pw" class="subtitle is-4">Password </label>
                            <input type="password" class="input is-rounded is-half" placeholder="Enter Password" id="pw"
                                name="pw" value=""><br><br>
                            <div class="buttons is-centered">
                                <button class="button button-64 is-responsive" type="submit is-success">Login</button>
                            </div>
    
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <script>
    
    
        async function submitform(formElem) {
    
            try {
                var response = await fetch(formElem.action, {
                    method: formElem.method,
                    body: new FormData(formElem),
                });
                if (response.ok) {
                    const user = await response.json();
                   alert("Welcom back, " + user.allusersname);
                    location.assign("/home");
    
                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }
    
            } catch (error) {
                console.log("" + error + "");
            }
        }
    
        function inputstd() {
            document.getElementById("username").value = "sid11111";
            document.getElementById("pw").value = "spw11111";
        }
    
        function inputstd2() {
            document.getElementById("username").value = "sid33333";
            document.getElementById("pw").value = "spw33333";
        }
    
        function inputstd3() {
            document.getElementById("username").value = "sid21111";
            document.getElementById("pw").value = "spw21111";
        }
    
        function inputstd4() {
            document.getElementById("username").value = "sid44444";
            document.getElementById("pw").value = "spw44444";
        }
    
        function inputsup() {
            document.getElementById("username").value = "tid00001";
            document.getElementById("pw").value = "tpw00001";
        }
    
        function inputsup2() {
            document.getElementById("username").value = "tid00002";
            document.getElementById("pw").value = "tpw00002";
        }
    
        function inputsup3() {
            document.getElementById("username").value = "tid00003";
            document.getElementById("pw").value = "tpw00003";
        }
        function inputsup4() {
            document.getElementById("username").value = "tid00004";
            document.getElementById("pw").value = "tpw00004";
        }
        function inputsup5() {
            document.getElementById("username").value = "tid00005";
            document.getElementById("pw").value = "tpw00005";
        }
    
    
    
    
        function inputadm() {
            document.getElementById("username").value = "admin";
            document.getElementById("pw").value = "P@ssw0rd";
        }
    
    </script>