
<div class="welcome">FYP Scheduling System</div>
<br><br>

<div class="columns is-centered">
    <div class="column is-half is-mobile">
        <div class="scheduledesignchecking">
            <div class="rows">
                <div class="row">
                    <div class="title">Login</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <form action="/login" method="post" onsubmit="submitform(this);return false;">
                        <label for="username" class="subtitle">Username</label>
                        <input type="text" class="input is-rounded is-half" placeholder="Enter Username (SID/TID)"
                            id="username" name="username" value=""><br>
                        <br>
                        <label for="pw" class="subtitle">Password </label>
                        <input type="password" class="input is-rounded is-half" placeholder="Enter Password" id="pw"
                            name="pw" value=""><br><br>
                        <div class="buttons is-centered">
                            <button class="button button-64 is-responsive" type="submit is-success">Login</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<script>


    async function submitform(formElem) {

        try {
            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });
            if (response.ok) {
                const user = await response.json();
                alert("Welcom back, " + user.allusersname);
                location.assign("/home");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusTest);
            }

        } catch (error) {
            console.log("" + error + "");
        }
    }


 

</script>