<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th>SID</th>
    <th>Student Name</th>
    <th>Topic</th>
    <th>Action</th>

    <% thatstudent.forEach( function(thatstudent) { %>

        <tr>
            <td>
                <%= thatstudent.sid %>
            </td>


            <td>
                <%= thatstudent.stdname %>
            </td>
            <td>
                <%= thatstudent.Topic%>
            </td>
<td>
    <button class="buttonfamily" type="button" onclick="deletestudent('<%= thatstudent.sid %>')">Delete</button>
</td>
        </tr>

        <% }); %>

</table>

   


<script>
    async function deletestudent(sid) {
        var r = confirm("Confirm Delete?"+sid);

        if (r) {

            var response = await fetch("/user/read/" + sid, {
                method: "DELETE",
                body: sid
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("student deleted.");
                location.assign("/user/liststudent");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };

</script>