<div class="Pagetitle">This is TimeTable Submission Page</div>
<br><br>
<form action="/submitttb" method="post" onsubmit="submitform(this);return false;">
    <label for="numofclass">Please input your total number of classes of this semester:&nbsp;</label>
    <select name="numofclass" id="numofclass" onchange="createlessoninput(value)">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <br>
    <div id="allclassinputfield">
        <div id="singleclassinfo" class="singleclassinfo">
            
            <div id="deptinputfield" class="singleclassinfocontent">
                <label for="classdep">Please input your class's department code&nbsp;:&nbsp;</label>
                <select name="classdep" id="classdep" onchange="createclasscode(value)">
                    <option value="">---Please Select---</option>

                    <%allClasslist.forEach( function(list) { %>
                        <option value="<%=list.CSecCode %>">
                            <%=list.CSecCode %>
                        </option>
                        <% })%>
                </select>
            </div>
            <div id="codeinputfield" class="singleclassinfocontent">
               
                    <%- include('../user/classcode') %>
               
            </div>
        </div>
</form>

<script>

    async function createclassscetion(value) { }

    async function createclasscode(value) {
        
               var requestBody = JSON.stringify({ CDept: document.getElementById("classdep").value });
               console.log(requestBody)
               console.log("creat class code request now " + document.getElementById("classdep").value)
               var response = await fetch('/submitttb', {
                   method: "POST",
                   body: requestBody,
               });
               /**
               if (response.ok) {
                   
                   //document.load("/user/classcode")
                  
                   const xhr = new XMLHttpRequest();
                   const container = document.getElementById("classcodeinputfield");
                   container.innerHTML = "please say hello"
                   
                   xhr.onload = function () {
                       if (this.status === 200) {
                           console.log("come to here");
                           
                           container.innerHTML = xhr.responseText;
                       } else {
                           console.warn("Oops");
                       }
                   }
                   xhr.open("post", "/user/classcode");
                   xhr.send(JSON.stringify({ CDept: document.getElementById("classdep").value }))
                   
                   
               }
               **/
       
    }
    function createlessoninput(value) {
        console.log(value);
        //document.getElementById("allclassinputfield").innerHTML = allclasslist;

    }
    function submitform(formElem) {
        console.log(formElem);
    }
</script>