<div class="Pagetitle">
    Unavailable timeslot
</div>
<div>
    <button class="button buttonlogout" onclick="history.back()">Back</button>
</div>
<div class="columns is-centered is-onethird is-mobile">
    <div class="column"></div>
    <div class="column template">

        <% if (req.session.role=="stu" ){%>
            <form name="therequest" action="/submitrequest" method="post" onsubmit="submitrequest(this);return false;">


                <article class="message is-warning">
                    <div class="message-header">
                        <p>Remarks</p>

                    </div>
                    <div class="message-body">
                        Please be aware that Presentation of your FYP also count in your personal
                        marks.
                        <br><br>
                        Absence due to reasons like Part-time job are unacceptable.
                        <br><br>
                        Students are required to submit vaild prove to their supervisor when submitting request form.
                    </div>
                </article>


                <label for="notokday" style="font-size: 20px;">Unavailable Date:&nbsp;&nbsp;</label>
                <input type="date" id="notokday" name="notokday" min="2024-04-01" max="2024-04-30" required
                    style="font-size: 15px;">
                &nbsp;
                <input type="checkbox" id="notokday_wholeday" id="notokday_wholeday" value="whole day"
                    onclick="dontshowtime()">
                <label for="notokday_wholeday">Whole Day</label>
                <!--
        <input type="radio" id="notokday_timeslot" id="notokday_timeslot" value="time slot" onclick="showtimetime()">
        -->
                <br><br>
                <div id="showthetime">
                    <label for="starttime" style="font-size: 20px;">Start time&emsp;:&emsp;&emsp;</label>
                    <input type="time" id="starttime" name="starttime" style="font-size: 20px;" required>
                    <br>
                    <label for="endtime" style="font-size: 20px;">End time&emsp;&nbsp;:&emsp;&emsp;</label>
                    <input type="time" id="endtime" name="endtime" style="font-size: 20px;" required>
                </div>
                <br>

                <label for="reason" style="font-size: 20px;">Reason:&emsp;&emsp;</label>
                <input type="text" id="reason" name="reason" placeholder="Please describle your difficulties"
                    style="width: 100%; height: 200px;" required>
                <br><br>

                <label for="prooffile" style="font-size: 20px;">Upload proof:&emsp;&emsp;</label>
                <input type="file" id="prooffile" name="prooffile" enctype="multipart/form-data" required>
                <br><br>


                <div class="buttons is-right">
                    <button class="button buttonlogout" type="submit is-success">Submit</button>
                </div>

            </form>


            <%}else if(req.session.role=="sup" ) {%>

                <form name="therequest" action="/submitrequest" method="post"
                    onsubmit="submitrequest(this);return false;">

                    <label for="notokday" style="font-size: 20px;">Unavailable Date:&nbsp;&nbsp;</label>
                    <input type="date" id="notokday" name="notokday" min="2024-04-01" max="2024-04-30"
                        style="font-size: 15px;" required>
                    &nbsp;
                    <input type="checkbox" id="notokday_wholeday" value="wholeday" onclick="dontshowtime()">
                    <label for="notokday_wholeday">Whole Day</label>
                    <!--
            <input type="radio" id="notokday_timeslot" id="notokday_timeslot" value="time slot" onclick="showtimetime()">
            -->
                    <br><br>
                    <div id="showthetime">
                        <label for="starttime" style="font-size: 20px;">Start time:&nbsp;&nbsp;</label>
                        <input type="time" id="starttime" name="starttime" required>
                        <br>
                        <label for="endtime" style="font-size: 20px;">End time:&nbsp;&nbsp;&nbsp;</label>
                        <input type="time" id="endtime" name="endtime" required>
                    </div>

                    <br>

                    <div class="buttons is-right">
                        <button class="button buttonlogout" type="submit is-success">Submit</button>
                    </div>
                </form>

                <%}%>


    </div>
    <div class="column"></div>
</div>


<script>
    var checkcheck = 0;
    var checked = false;
    function dontshowtime() {
        checkcheck += 1;
        if (checkcheck % 2 == 0) {
            checked = false;
            showtimetime();
        } else {
            checked = true;
            document.getElementById("showthetime").innerHTML = "";
        }

    }
    function showtimetime() {
        document.getElementById("showthetime").innerHTML = "<label for = \"starttime\"\>Start Time\:&nbsp;&nbsp;\</label\>"
            + " \<input type\=\"time\" id\=\"starttime\" name\=\"starttime\"\ style=\"font-size: 20px;\"required>"
            + "\<br\>"
            + "<label for = \"endtime\"\>End Time\:&nbsp;&nbsp;&nbsp;\</label\>"
            + " \<input type\=\"time\" id\=\"endtime\" name\=\"endtime\"  style=\"font-size: 20px;\" required>";
    }
    async function submitrequest(formElem) {

        if (!checked) {
            var startstart = document.getElementById("starttime").value;
            var endend = document.getElementById("endtime").value;

            if (endend <= startstart) {
                alert("End time cannot be earlier than Start time \n" + "Please review your input");
                return;
            }

        }
        try {
            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });
            if (response.ok) {

                alert("Submission success");
                location.assign("/checkrequest");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusTest);
            }

        } catch (error) {
            console.log(error);
        }




    }
</script>