<div class="Pagetitle">This is TimeTable Submission Page</div>
<br><br>
<form action="/submitttb" method="post" onsubmit="submitform(this);return false;">
    <label for="numofclass">Please input your total number of classes of this semester:&nbsp;</label>
    <select name="numofclass" id="numofclass" onchange="createlessoninput(value)">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <br>
    <div id="allclassinputfield">
        <div id="singleclassinfo" class="singleclassinfo">

            <div id="deptinputfield" class="singleclassinfocontent">
                <label for="classdep">Please input your class's department code&nbsp;:&nbsp;</label>
                <select name="classdep" id="classdep" >
                    <option value="">---Please Select---</option>

                    <%allDeptlist.forEach( function(list) { %>
                        <option value="<%=list.CDept%>">
                            <%=list.CDept%>
                        </option>
                        <% })%>
                </select>
            </div>
            <div id="codeinputfield" class="singleclassinfocontent">
                <label for="classcode">Please input your class's code&nbsp;:&nbsp;</label>
                <select name="classcode" id="classcode">
                    <option value="">---Please Select---</option>

                </select>
            </div>
            <div id="sectioninputfield" class="singleclassinfocontent">
                <label for="classsection">Please input your class's section code&nbsp;:&nbsp;</label>
                <select name="classsection" id="classsection" >
                    <option value="">---Please Select---</option>

                </select>
            </div>
        </div>
</form>

<script>

function _(element)
{
    return document.getElementById(element);
}

function fetch_data(parent_element, child_element, type)
{
    fetch('/get_data?type='+type+'&parent_value='+parent_element+'').then(function(response){
        return response.json();
    }).then(function(responseData){

        var html = '';

        if(type == 'load_code')
        {
            html = '<option value="">Select Code</option>';
            for(var count = 0; count < responseData.length; count++)
        {
            html += '<option value="'+responseData[count].CCode+'">'+responseData[count].CCode+'</option>';
        }
        }

        if(type == 'load_section')
        {
            html = '<option value="">Select Section</option>';
            for(var count = 0; count < responseData.length; count++)
        {
            html += '<option value="'+responseData[count].CSecCode+'">'+responseData[count].CSecCode+'</option>';
        }
        }

        

        document.getElementById(child_element).innerHTML = html;
    });
}

_('classdep').onchange = function(){

    fetch_data(document.getElementById('classdep').value, 'classcode', 'load_code');

};

_('classcode').onchange = function(){

    fetch_data(document.getElementById('classdep').value+""+document.getElementById('classcode').value, 'classsection', 'load_section');

};


</script>