<div class="Pagetitle">This is TimeTable Submission Page</div>
<br><br>
<form action="/submitttb" method="post" onsubmit="submitform(this);return false;">
    <label for="numofclass">Please input your total number of classes of this semester:&nbsp;</label>
    <select name="numofclass" id="numofclass" onchange="createlessoninput(value)">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <br>
    <div id="allclassinputfield">
        <div id="singleclassinfo" class="singleclassinfo">
            <div id="deptinputfield" class="singleclassinfocontent">
                <label for="classdep">Please input your class's department code&nbsp;:&nbsp;</label>
                <select name="classdep" id="classdep" onchange="createclasscode(value)">
                    <option value="">---Please Select---</option>

                    <% allDeptlist.forEach( function(list) { %>
                        <option value="<%=list.CDept %>">
                            <%=list.CDept %>
                        </option>
                        <% })%>
                </select>
            </div>
            <%if (typeof allCCodelist !='undefined' ){%>
                <div id="classcodeinputfield" class="singleclassinfocontent">
                    <label for="classdep">Please input your class's code&nbsp;:&nbsp;</label>
                    <select name="classdep" id="classdep" onchange="createclassscetion(value)">
                        <%console.log(allCCodelist +" sure this is not undefined")%>
                            <option value="">---Please Select---</option>
                            <% allCCodelist.forEach( function(list) { %>
                                <%console.log(list.CCode +" sure this is not undefined")%>
                                    <option value="<%=list.CCode %>">
                                        <%=allCCodelist %>
                                    </option>
                                    <% })%>
                    </select>
                </div>
                <%}%>

        </div>
    </div>
</form>

<script>
    async function createclassscetion(value) { }

    async function createclasscode(value) {
        //location.assign("/user/submitttb/"+value);
        console.log("creat class code request now")
        var response = await fetch('submitttb/' + value, {
            method: "GET",
        });
        if (response.ok) {
console.log(response)

        }

    }
    function createlessoninput(value) {
        console.log(value);
        //document.getElementById("allclassinputfield").innerHTML = allclasslist;

    }
    function submitform(formElem) {
        console.log(formElem);
    }
</script>