<div class="Pagetitle">Add Class To Your TimeTable</div>
<div class="buttons">
    <div class="button buttonlogout is-left" onclick="history.back()">
        Back
    </div>

</div>
<br>
<div class="columns is-mobile">
    <div class="column is-one-third"></div>
    <div class="column is-one-third singleclassinfo">
        <form action="/timetable/submitttb" method="post"
            onsubmit="submitform(this,'<%=req.session.role%>');return false;">


            <div id="allclassinputfield" style="font-size: 20px;">
                <div id="enrollnotclass">
                    <input id="enrollnotclassbox" type="checkbox" value="noclassenrolled" onchange="cleartheform()"> I
                    take 0 course this semester
                </div>
                <div id="singleclassinfo">
                    <div id="deptinputfield">
                        <label for="classdep">Please input your class's department code&nbsp;:&nbsp;</label>
                        <select name="classdep" id="classdep">
                            <option value="">---Please Select---</option>
                            <%allDeptlist.forEach( function(list) { %>
                                <% if(list.CDept !="EMPTY" ){%>
                                    <option value="<%=list.CDept%>">
                                        <%=list.CDept%>
                                    </option>
                                    <%}%>
                                        <% })%>
                        </select>
                    </div>
                    <div id="codeinputfield">
                        <label for="classcode">Please input your class's code&nbsp;:&nbsp;</label>
                        <select name="classcode" id="classcode">
                            <option value="">---Please Select---</option>

                        </select>
                    </div>
                    <div id="sectioninputfield">
                        <label for="classsection">Please input your class's section code&nbsp;:&nbsp;</label>
                        <select name="classsection" id="classsection" onchange="findlabsection('<%=req.session.role%>')">
                            <option value="">---Please Select---</option>
                        </select>
                    </div>
                    <div id="labsectioninputfield"></div>
                    <div class="buttons is-right">
                        <button class="button buttonlogout" type="submit is-success">Add Class</button>
                    </div>
                </div>
        </form>
    </div>

</div>


<script>
    function cleartheform() {
        if (document.getElementById("enrollnotclassbox").checked == true) {
            alert("Please Double Confirm that you take 0 courses this sememster." + "\n\nIf Yes, Click Add Class Button" + "\n\n Uncheck this box if you are not.");
            // document.getElementById("enrollnotclassbox").checked=true

        }
    }

    async function submitform(formElem, role) {
        var requestbody = new FormData(formElem);
        if (document.getElementById("enrollnotclassbox").checked != true) {
            if (document.getElementById("classdep").value == "") {
                return alert("Department Code cannot be empty")
            } else if (document.getElementById("classcode").value == "") {
                return alert("Class Code cannot be empty")
            } else if (document.getElementById("classsection").value == "") {
                return alert("Class Section Code cannot be empty")
            } else if (document.getElementById("classlabsection") != null && document.getElementById("classlabsection").value == "" && role != "sup") {
                return alert("Class Tutorial Section Code cannot be empty")
            }
        } else {
            var requestbody = new FormData(formElem);
            requestbody.append(document.getElementById("enrollnotclassbox").value, true)
            //console.log(requestbody)
        }


        if (role == "stu") {
            var response = await fetch("/timetable/submitttb/deadline", {
                method: "POST",
            });


            if (response.ok) {

                var response2 = await fetch(formElem.action, {
                    method: formElem.method,
                    body: requestbody
                });
                if (response2.ok) {
                    alert("Inserted");
                    location.assign("/timetable");

                } else if (response2.status == 401) {
                    var msg = await response2.json();
                    alert(msg);
                    location.reload();
                } else {
                    alert(response2.statusTest);
                    location.reload();
                }


            } else if (response.status == 401) {
                var msg = await response.json();

                alert(msg);
                location.assign("../timetable");
            } else {
                alert(response.statusTest);
            }

        } else {


            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: requestbody
            });
            console.log("!@#$%!@#$%!@#$!@#$!@$            " + response.status);
            if (response.ok) {
                alert("Inserted");
                location.assign("/timetable");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
                location.reload();
            } else {
                alert(response.statusTest);
                location.reload();
            }



        }


        /**
                try {
                    var response = await fetch(formElem.action, {
                        method: formElem.method,
                        body: requestbody
                    });
                    if (response.ok) {
        
                        location.assign("/timetable");
        
                    } else if (response.status == 401) {
                        var msg = await response.json();
                        alert(msg);
                    } else {
                        alert(response.statusTest);
                    }
        
                } catch (error) {
                    console.log("Error happened   " + error);
                }
                **/
    }

    function _(element) {
        return document.getElementById(element);
    }

    function fetch_data(parent_element, child_element, type,role) {
        fetch("/timetable/submitttb/get_data?type=" + type + "&parent_value=" + parent_element + "").then(function (response) {
            return response.json();
        }).then(function (responseData) {

            var html = "";

            if (type == "load_code") {
                html = "\<option value=\"\"\>---Please Select---</option\>";
                for (var i = 0; i < responseData.length; i++) {
                    html += "<option value=\"" + responseData[i].CCode + "\">" + responseData[i].CCode + "</option>";
                }
            }

            if (type == "load_section") {
                html = "\<option value=\"\"\>---Please Select---</option\>";
                for (var i = 0; i < responseData.length; i++) {
                    html += "<option value=\"" + responseData[i].CSecCode + "\">" + responseData[i].CSecCode + "</option>";
                }
            }

            if (type == "load_lab" && responseData.length > 0) {
                html = "<label for=\"classlabsection\">Please input your class's tutorial section code&nbsp;:&nbsp;</label\>"
                    + "<select name=\"classlabsection\" id=\"classlabsection\"\>"
                    + "\<option value=\"\"\>---Please Select---</option\>"
                        if(role =="sup"){
                            html += "\<option value=\"all\"\>All Lab Sections</option\>"
                        }
                        
                for (var i = 0; i < responseData.length; i++) {
                    html += "<option value=\"" + responseData[i].CSecCode + "\">" + responseData[i].CSecCode + "</option>";
                }
                html += "</select\>"
            }

            document.getElementById(child_element).innerHTML = html;
        });
    }

    _("classdep").onchange = function () {
        document.getElementById("classcode").value = "";
        document.getElementById("classsection").value = "";
        if (document.getElementById("classlabsection") != null) {
            document.getElementById("classlabsection").value = "";
        }

        fetch_data(document.getElementById("classdep").value, "classcode", "load_code",null);
    };

    _("classcode").onchange = function () {
        document.getElementById("classsection").value = "";
        if (document.getElementById("classlabsection") != null) {
            document.getElementById("classlabsection").value = "";
        }
        fetch_data(document.getElementById("classdep").value + "" + document.getElementById("classcode").value, "classsection", "load_section",null);
    };
    
    function findlabsection(role) {
        if (document.getElementById("classlabsection") != null) {
            document.getElementById("classlabsection").value = "";
        }
        fetch_data(document.getElementById("classdep").value + "" + document.getElementById("classcode").value + "_" + document.getElementById("classsection").value, "labsectioninputfield", "load_lab",role);
    };


</script>