<div class="Pagetitle">
    Unavailable timeslot
</div>
<div>
    <button class="button buttonlogout is-responsive" onclick="history.back()">Back</button>
</div>
<div class="columns is-centered is-multiline is-mobile" style="align-items: center;">
    
    <%var today=new Date();%>
        <% today=today.toLocaleString()%>
            <% var date=new Date(theday)%>
                <div class="column template is-half-desktop is-full-width-mobile" style="align-items: center;">
                    <% if (req.session.role== "stu" ){%>

                        <form name="therequest" action="/submitrequest" method="post"
                            onsubmit="submitstudetrequest(this,'<%=theday%>');return false;">


                            <article class="message is-warning">
                                <div class="message-header" style="font-size: calc(15px + 0.390625vw); color: red;">
                                    <p>Submission Deadline for Request Submission
                                        <br>

                                        <%if(theday!=null){%>
                                            <%=date.toLocaleDateString()%> <%=date.toLocaleTimeString('en-US')%>
                                                    <%}%>

                                    </p>
                                </div>
                                <div class="message-body" style="font-size: calc(12px + 0.390625vw);">
                                    Please be aware that Presentation of your FYP also count in your personal
                                    marks.
                                    <br><br>
                                    Absence due to reasons like Part-time job are unacceptable.
                                    <br><br>
                                    Students are required to submit <u>vaild proof</u> to their supervisor when
                                    submitting
                                    request
                                    form.
                                    <br><br>
                                    <u>No submissions will be accecpted after the due date.</u>
                                </div>
                            </article>


                            <table class="table is-fullwidth" style=" background-color: transparent;text-align: left; font-size: calc(15px + 0.390625vw);">
                                    
                                <tr>
                                    <td>
                                        <label for="notokday" style="font-size: calc(15px + 0.390625vw);">Unavailable Date:</label>
                                    </td>
                                    <td>
                                         <!--min="2024-04-01" max="2024-04-30"-->
                            <input type="date" id="notokday" name="notokday" style="font-size: 15px;" required>
                            <br>
                            <input type="checkbox" id="notokday_wholeday" value="wholeday" onclick="dontshowtime()">
                            <label for="notokday_wholeday">Whole Day</label>
                                    </td>
                                </tr> 
                               
                                <tr id = "showthetime1">
                                  
                                        <td><label for="starttime" style="font-size: calc(15px + 0.390625vw);">Start time:</label></td>
                                        <td><input type="time" id="starttime" name="starttime" required></td>
                                        
                                        
                                
                               
                                </tr>
                                <tr id = "showthetime2">
                                    <td>
                                        <label for="endtime" style="font-size: calc(15px + 0.390625vw);">End
                                            time:</label>
                                    </td>
                                    <td><input type="time" id="endtime" name="endtime" required></td> 
                                </tr>
                                <tr>
                                    <td>
                                        <label for="reason" style="font-size: calc(15px + 0.390625vw);">Reason:</label>
                                    </td>
                                    <td>
                                        <input type="text" id="reason" name="reason"
                                placeholder="Please describle your difficulties" style="width: 100%; height: 200px;"
                                required>
                                    </td>
                                </tr>
                                <tr>
                                    
                                <%var today=new Date()%>
                                <%if ((theday==null) || (theday!=null&& today < date)){%>
                                    <td></td>
                                    <td>
                                    <div id="orgformbutton " class="buttons is-right">
                                        <button class="button buttonlogout is-responsive" type="submit is-success">Submit</button>
                                    </div></td>

                                    <%}else {%>
<td colspan="2">
                                        <div id="row" style="text-align: center;">
                                            <div class="box"
                                                style="background-color:transparent; box-shadow: none ;font-size: calc(15px + 0.390625vw);font-weight: bold; color : red;">
                                                Not Accepting
                                                Submission Anymore</div>
                                        </div></td>
                                        <%}%>
                           </tr>
                            </table>

                            <br><br>

                            <%var today=new Date()%>
                                    <%if ((theday==null) || (theday!=null&& today < date)){%>

                                        <div id="orgformbutton " class="buttons is-right">
                                            <button class="button buttonlogout is-responsive" type="submit is-success">Submit</button>
                                        </div>

                                        <%}else {%>

                                            <div id="row" style="text-align: center;">
                                                <div class="box"
                                                    style="background-color:transparent; box-shadow: none ;font-size: calc(15px + 0.390625vw);font-weight: bold; color : red;">
                                                    Not Accepting
                                                    Submission Anymore</div>
                                            </div>
                                            <%}%>



                        </form>


                        <%}else {%>

                            <form name="therequest" action="/submitrequest" method="post"
                                onsubmit="submitrequest(this);return false;">
                                <table class="table is-fullwidth" style=" background-color: transparent;text-align: center; font-size: calc(15px + 0.390625vw);">
                                    
                                    <tr>
                                        <td>
                                            <label for="notokday" style="font-size: calc(15px + 0.390625vw);">Unavailable Date:</label>
                                        </td>
                                        <td>
                                             <!--min="2024-04-01" max="2024-04-30"-->
                                <input type="date" id="notokday" name="notokday" style="font-size: 15px;" required>
                                <br>
                                <input type="checkbox" id="notokday_wholeday" value="wholeday" onclick="dontshowtime()">
                                <label for="notokday_wholeday">Whole Day</label>
                                        </td>
                                    </tr> 
                                   
                                    <tr id = "showthetime1">
                                      
                                            <td><label for="starttime" style="font-size: calc(15px + 0.390625vw);">Start time:</label></td>
                                            <td><input type="time" id="starttime" name="starttime" required></td>
                                            
                                            
                                    
                                   
                                    </tr>
                                    <tr id = "showthetime2">
                                        <td>
                                            <label for="endtime" style="font-size: calc(15px + 0.390625vw);">End
                                                time:</label>
                                        </td>
                                        <td><input type="time" id="endtime" name="endtime" required></td> 
                                    </tr>
                               
                                </table>

                                <!-- <label for="notokday" style="font-size: calc(15px + 0.390625vw);">Unavailable Date:&nbsp;&nbsp;</label> -->
                                
                                <!--min="2024-04-01" max="2024-04-30"-->

                                <!-- <input type="date" id="notokday" name="notokday" style="font-size: 15px;" required>
                                &nbsp;
                                <br>
                                <input type="checkbox" id="notokday_wholeday" value="wholeday" onclick="dontshowtime()">
                                <label for="notokday_wholeday">Whole Day</label> -->

                                <!--
            <input type="radio" id="notokday_timeslot" id="notokday_timeslot" value="time slot" onclick="showtimetime()">
            -->
                                <!-- <br><br>
                                <div id="showthetime">
                                    <label for="starttime" style="font-size: calc(15px + 0.390625vw);">Start time:&nbsp;&nbsp;</label>
                                    <input type="time" id="starttime" name="starttime" required>
                                    <br>
                                    <label for="endtime" style="font-size: calc(15px + 0.390625vw);">End
                                        time:&nbsp;&nbsp;&nbsp;</label>
                                    <input type="time" id="endtime" name="endtime" required>
                                </div> -->

                                <br>
                                <%var today=new Date()%>
                                   <%if ((theday==null) || (theday!=null&& today < date)){%>

                                    <div class="buttons is-right">
                                        <button class="button buttonlogout is-responsive" type="submit is-success">Submit</button>
                                    </div>

                                    <%}else {%>

                                        <div id="row" style="text-align: center;">
                                            <div class="box"
                                                style="background-color:transparent; box-shadow: none ;font-size: calc(15px + 0.390625vw);font-weight: bold; color : red;">
                                                Not Accepting
                                                Submission Anymore</div>
                                        </div>
                                        <%}%>
                                

                            </form>

                            <%}%>

                </div>
                
</div>


<script>


    var checkcheck = 0;
    var checked = false;
    function dontshowtime() {
        checkcheck += 1;
        if (checkcheck % 2 == 0) {
            checked = false;
            showtimetime();
        } else {
            checked = true;
            console.log(document.getElementById("showthetime1").innerHTML);
            document.getElementById("showthetime1").innerHTML = "<tr></tr>";
            console.log(document.getElementById("showthetime1").innerHTML);
            console.log(document.getElementById("showthetime2").innerHTML);
            document.getElementById("showthetime2").innerHTML = "<tr></tr>";
            console.log(document.getElementById("showthetime2").innerHTML);
        }

    }
    function showtimetime() {
        document.getElementById("showthetime1").innerHTML = "\<td\>\<label for = \"starttime\"\>Start Time\:&nbsp;&nbsp;\</label\>\</td\>"
            + " \<td>\<input type\=\"time\" id\=\"starttime\" name\=\"starttime\"\ style=\"font-size: calc(15px + 0.390625vw);\"required>\</td\>";
           
                document.getElementById("showthetime2").innerHTML =  "\<td\>\<label for = \"endtime\"\>End Time\:&nbsp;&nbsp;&nbsp;\</label\>\</td\>"
            + "\<td\>\<input type\=\"time\" id\=\"endtime\" name\=\"endtime\"  style=\"font-size: calc(15px + 0.390625vw);\" required>\</td\>";
    }

    async function submitrequest(formElem) {


        if (!checked) {
            var startstart = document.getElementById("starttime").value;
            var endend = document.getElementById("endtime").value;

            if (endend <= startstart) {
                alert("End time cannot be earlier than Start time \n" + "Please review your input");
                return;
            }

        }
        try {
            console.log(formElem.action)
            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });
            
            if (response.status == 200) {

                alert("Submission success");
                location.assign("/checkrequest");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusTest);
            }

        } catch (error) {
            console.log(error);
        }




    }

    async function submitstudetrequest(formElem, deadlinedate) {
        var form = new FormData(formElem);
       
        form.append("deadlinedate", deadlinedate)

        if (!checked) {
            var startstart = document.getElementById("starttime").value;
            var endend = document.getElementById("endtime").value;

            if (endend <= startstart) {
                alert("End time cannot be earlier than Start time \n" + "Please review your input");
                return;
            }

        }
        try {
            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: form,

            });
            if (response.status == 200) {

                alert("Submission success" + "\n\nPlease remember to upload valid proof\n" + "Or else your submission will not be considered.");
                location.assign("/checkrequest");

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
                return location.reload();
            } else {
                alert(response.statusTest);
            }

        } catch (error) {
            console.log(error);
        }




    }
</script>